

    <!-- banner bg main start -->
    <div class="banner_bg_main">
        <!-- header top section start -->
        <div class="container">
          <div class="header_section_top">
              <div class="row">
                <div class="col-sm-12">
                    <div class="custom_menu">
                      <ul>
                          <li><a href="#">Dogs</a></li>
                          <li><a href="#">Cats</a></li>
                          <li><a href="#">Birds</a></li>
                        
                          <li><a href="#">Animal For Breading</a></li>
                      </ul>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <!-- header top section start -->
        <!-- logo section start -->
        <div class="logo_section">
          <div class="container">
              <div class="row">
                <div class="col-sm-12">
                    <div class="logo"><a href="index.html"><img src=""></a></div>
                </div>
              </div>
          </div>
        </div>
        <!-- logo section end -->
        <!-- header section start -->
        <div class="header_section">
          <div class="container">
              <div class="containt_main">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="index.html">Home</a>
                    <a href="fashion.html">Fashion</a>
                    <a href="electronic.html">Electronic</a>
                    <a href="jewellery.html">Jewellery</a>
                </div>
                <span class="toggle_icon" onclick="openNav()"></span>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search By
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <button class="dropdown-item" (click)="chmodSearch('all')">all</button>
                      <button class="dropdown-item" (click)="chmodSearch('category')">category</button>
                      <button class="dropdown-item" (click)="chmodSearch('price')">price</button>
                      
                      <button class="dropdown-item" (click)="chmodSearch('type')">type</button>
                    
                    </div>
                </div>
                <div class="main">
                    <!-- Another variation with a button -->
                    <div class="input-group">
                      <input [(ngModel)]="searchTerm" type="text" class="form-control" [placeholder]="getPlaceholder()">
                      <div class="input-group-append">
                          <button (click)="search()" class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                          <i class="fa fa-search"></i>
                          </button>
                      </div>
                    </div>
                </div>
                <div class="header_box">
                    <!-- <div class="lang_box ">
                      <a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                      <img src="/assets/images/flag-uk.png" alt="flag" class="mr-2 " title="United Kingdom"> English <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                      </a>
                      <div class="dropdown-menu ">
                          <a href="#" class="dropdown-item">
                          <img src="/assets/images/flag-france.png" class="mr-2" alt="flag">
                          French
                          </a>
                      </div>
                    </div> -->
                    <div class="login_menu">
                      <ul>
                          <!-- <li><a href="#">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <span class="padding_10">Cart</span></a>
                          </li> -->
                          <li><a href="#">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="padding_10">my profile</span></a>
                          </li>
                      </ul>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <!-- header section end -->
        <!-- banner section start -->
        <div class="banner_section layout_padding">
          <div class="container">
              <div id="my_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row">
                          <div class="col-sm-12">
                            <h1 class="banner_taital">Get Start <br>Pets for Sale: Change Two Lives Forever.</h1>
                            <!-- <div class="buynow_bt"><a href="#">Add To Cart</a></div> -->
                          </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                          <div class="col-sm-12">
                            <h1 class="banner_taital">Get Start <br> Adopt a Pet and Change a Life.</h1>
                            <!-- <div class="buynow_bt"><a href="#">Add To Cart</a></div> -->
                          </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row">
                          <div class="col-sm-12">
                            <h1 class="banner_taital">Get Start <br>Responsible Pet Ownership Starts Here.</h1>
                            <!-- <div class="buynow_bt"><a href="#">Add To Cart</a></div> -->
                          </div>
                      </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
                </a>
              </div>
          </div>
        </div>
        <!-- banner section end -->
    </div>
    <!-- banner bg main end -->
   
      <!-- Cats section start -->
      <div class="fashion_section">
        <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Cats for Adoption </h1>
                    <div class="fashion_section_2">
                      <div class="row">
                          <div class="col-lg-4 col-sm-4"*ngFor="let pet of AcategoryCats_adopt">
                            <div class="box_main">
                                <h4 class="shirt_text">{{ pet.type }}</h4>
                                <p class="price_text">Start Price  <span style="color: #262626;">$ {{pet.price}}</span></p>
                                <div class="electronic_img"><img [src]="generateImageUrl(pet.image)"></div>
                                <div class="btn_main">
                                  <div class="buy_bt"><a (click)="addToCart(pet)">Add To Cart</a></div>
                                  <div class="seemore_bt"><a href="#">See More</a></div>
                                </div>
                            </div>
                          </div>
                         
                      </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Cats for Sale</h1>
                    <div class="fashion_section_2">
                      <div class="row">
                          <div class="col-lg-4 col-sm-4"*ngFor="let pet of AcategoryCats_sell">
                            <div class="box_main">
                                <h4 class="shirt_text">{{ pet.type }}</h4>
                                <p class="price_text">Start Price  <span style="color: #262626;">$ {{pet.price}}</span></p>
                                <div class="electronic_img"><img [src]="generateImageUrl(pet.image)"></div>
                                <div class="btn_main">
                                  <div class="buy_bt"><a (click)="addToCart(pet)">Add To Cart</a></div>
                                  <div class="seemore_bt"><a href="#">See More</a></div>
                                </div>
                            </div>
                          </div>
                         
                      </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Cats for Adoption & sale</h1>
                    <div class="fashion_section_2">
                      <div class="row">
                          <div class="col-lg-4 col-sm-4"*ngFor="let pet of AcategoryCats_sell">
                            <div class="box_main">
                                <h4 class="shirt_text">{{ pet.type }}</h4>
                                <p class="price_text">Start Price  <span style="color: #262626;">$ {{pet.price}}</span></p>
                                <div class="electronic_img"><img [src]="generateImageUrl(pet.image)"></div>
                                <div class="btn_main">
                                  <div class="buy_bt"><a (click)="addToCart(pet)">Add To Cart</a></div>
                                  <div class="seemore_bt"><a href="#">See More</a></div>
                                </div>
                            </div>
                          </div>
                        
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#electronic_main_slider" role="button" data-slide="prev">
          <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#electronic_main_slider" role="button" data-slide="next">
          <i class="fa fa-angle-right"></i>
          </a>
        </div>
    </div>
    <!-- Cats section end -->
    <!-- Dogs section start -->
    <div class="fashion_section">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Dogs for Adoption </h1>
                    <div class="fashion_section_2">
                      <div class="row">
                        <div class="col-lg-4 col-sm-4" *ngFor="let pet of AcategoryDogs_sell">
                          
                            <div class="box_main">
                                <h4 class="shirt_text">{{ pet.type }}</h4>
                                <!-- <h4 class="shirt_text">{{ pet.category }}</h4> -->
                                <p class="price_text">Price  <span style="color: #262626;">$ {{pet.price}}</span></p>
                                <div class="tshirt_img"><img width="300" height="200" [src]="generateImageUrl(pet.image)"></div>
                                <div class="btn_main">
                                  <div class="buy_bt"><a (click)="addToCart(pet)">Add To Cart</a></div>
                                  <div class="seemore_bt"><a href="#">See More</a></div>
                                </div>
                            </div>
                          </div>
                          
                        
                      </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Dogs for Sale</h1>
                    <div class="fashion_section_2">
                      <div class="row">
                          <div class="col-lg-4 col-sm-4" *ngFor="let pet of AcategoryDogs_adopt">
                            <div class="box_main">
                                <h4 class="shirt_text">{{ pet.type }}</h4>
                                <p class="price_text">Price  <span style="color: #262626;">$  {{pet.price}}</span></p>
                                <div class="tshirt_img"><img [src]="generateImageUrl(pet.image)"></div>
                                <div class="btn_main">
                                  <div class="buy_bt"><a (click)="addToCart(pet)">Add To Cart</a></div>
                                  <div class="seemore_bt"><a href="#">See More</a></div>
                                </div>
                            </div>
                          </div>
                        
                          
                      </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Dogs for Adoption &sale</h1>
                    <div class="fashion_section_2">
                      <div class="row">
                          <div class="col-lg-4 col-sm-4"*ngFor="let pet of AcategoryDogs_adopt">
                            <div class="box_main">
                                <h4 class="shirt_text">{{ pet.type }}</h4>
                                <p class="price_text">Price  <span style="color: #262626;">$ {{pet.price}}</span></p>
                                <div class="tshirt_img"><img [src]="generateImageUrl(pet.image)"></div>
                                <div class="btn_main">
                                  <div class="buy_bt"><a (click)="addToCart(pet)">Add To Cart</a></div>
                                  <div class="seemore_bt"><a href="#">See More</a></div>
                                </div>
                            </div>
                          </div>
                        
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
          <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
          <i class="fa fa-angle-right"></i>
          </a>
          
        </div>1
    </div>
    <!-- Dogs section end -->
  


    <!-- Birds for breeding -->
    <div class="jewellery_section">
      <div id="jewellery_main_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                  <h1 class="fashion_taital">Birds For Adoption</h1>
                  <div class="fashion_section_2">
                      <div class="row">
                        <div class="col-lg-4 col-sm-4" *ngFor="let pet of AcategoryBirds_adopt">
                          <div class="box_main">
                              <h4 class="shirt_text">{{ pet.type }}</h4>
                              <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p>
                              <div class="jewellery_img"><img [src]="generateImageUrl(pet.image)"></div>
                              <div class="btn_main">
                                  <div class="buy_bt"><a (click)="addToCart(pet)">Add To Cart</a></div>
                                  <div class="seemore_bt"><a href="#">See More</a></div>
                              </div>
                            </div>
                        </div>
                     
                      </div>
                  </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                  <h1 class="fashion_taital">Birds For Sale</h1>
                  <div class="fashion_section_2">
                      <div class="row">
                        <div class="col-lg-4 col-sm-4" *ngFor="let pet of AcategoryBirds_sell">
                          <div class="box_main">
                              <h4 class="shirt_text">{{ pet.type }}</h4>
                              <p class="price_text">Start Price  <span style="color: #262626;">$ {{ pet.price }}</span></p>
                              <div class="jewellery_img"><img [src]="generateImageUrl(pet.image)"></div>
                              <div class="btn_main">
                                  <div class="buy_bt"><a (click)="addToCart(pet)">Add To Cart</a></div>
                                  <div class="seemore_bt"><a href="#">See More</a></div>
                              </div>
                            </div>
                        </div>
                      
                      </div>
                  </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                  <h1 class="fashion_taital">Birds For Adoption & Sale<</h1>
                  <div class="fashion_section_2">
                      <div class="row">
                        <div class="col-lg-4 col-sm-4" *ngFor="let pet of AcategoryBirds_adopt">
                          <div class="box_main">
                              <h4 class="shirt_text">{{ pet.type }}</h4>
                              <p class="price_text">Start Price  <span style="color: #262626;">$ 100</span></p>
                              <div class="jewellery_img"><img [src]="generateImageUrl(pet.image)"></div>
                              <div class="btn_main">
                                  <div class="buy_bt"><a (click)="addToCart(pet)">Add To Cart</a></div>
                                  <div class="seemore_bt"><a href="#">See More</a></div>
                              </div>
                            </div>
                        </div>
                      
                        
                      </div>
                  </div>
                </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#jewellery_main_slider" role="button" data-slide="prev">
          <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#jewellery_main_slider" role="button" data-slide="next">
          <i class="fa fa-angle-right"></i>
          </a>
          <div class="loader_main">
            <div class="loader"></div>
          </div>
      </div>
    </div>
    <!--  Birds section end-->
      <!-- animal section start -->
  <div class="fashion_section">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
                <h1 class="fashion_taital"> Anima For Breading </h1>
                <div class="fashion_section_2">
                  <div class="row">
                    <div class="col-lg-4 col-sm-4" *ngFor="let pet of AcategoryAnimal_breeding">
                      
                        <div class="box_main">
                            <h4 class="shirt_text">{{ pet.type }}</h4>
                            <!-- <h4 class="shirt_text">{{ pet.category }}</h4> -->
                            <p class="price_text">Price  <span style="color: #262626;">$ {{pet.price}}</span></p>
                            <div class="tshirt_img"><img width="300" height="200" [src]="generateImageUrl(pet.image)"></div>
                            <div class="btn_main">
                              <div class="buy_bt"><a (click)="addToCart(pet)">Add To Cart</a></div>
                              <div class="seemore_bt"><a href="#">See More</a></div>
                            </div>
                        </div>
                      </div>
                      
                    
                  </div>
                </div>
            </div>
          </div>
        
      </div>
      <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
      <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
      <i class="fa fa-angle-right"></i>
      </a>
    </div>
</div>


<!-- Your previous code (without form) -->
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog mt-1" style="width: 50%; max-width: none">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">
        Edit your pet details
      </h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="formbold-main-wrapper pt-0">
        <div class="formbold-form-wrapper pt-0">
          <img src="assets/pet_welcome.png" style="width: 90%" />
          <form [formGroup]="editPetForm" (ngSubmit)="submitForm()"enctype="multipart/form-data">
            
            <!--_________________ age___________________-->

            <div class="formbold-mb-3">
              <label for="PetAge" class="formbold-form-label">Pet Age </label>
              <input type="number" name="age" id="PetAge" placeholder="ex:18"
                class="formbold-form-input form-control" formControlName="age" />
              <div *ngIf="
                  editPetForm.controls['age'].touched &&
                  editPetForm.controls['age'].invalid
                " id="PetAge" class="text-danger form-text">
                <small *ngIf="editPetForm.controls['PetAge'].errors?.['required']">
                  this field is required
                </small>
                <small *ngIf="editPetForm.controls['age'].errors?.['number']">
                  Please enter a valid age .
                </small>
              </div>
            </div>
            <!--_________________ type___________________-->

            <div class="formbold-mb-3">
              <label for="type" class="formbold-form-label">
                Pet Type
              </label>
              <input type="text" name="type" id="type" class="formbold-form-input form-control"
                formControlName="type" />
              <div *ngIf="
                  editPetForm.controls['type'].touched &&
                  editPetForm.controls['type'].invalid
                " id="type" class="text-danger form-text">
                <small *ngIf="editPetForm.controls['type'].errors?.['required']">
                  this field is required
                </small>
                <small *ngIf="editPetForm.controls['type'].errors?.['text']">
                  Please enter a valid Known Type.
                </small>
              </div>
            </div>

            <!--_________________ price___________________-->

            <div class="formbold-mb-3">
              <label for="price" class="formbold-form-label">
                Pet price
              </label>
              <input type="number" name="price" id="price" class="formbold-form-input form-control"
                formControlName="price" />
              <div *ngIf="
                  editPetForm.controls['price'].touched &&
                  editPetForm.controls['price'].invalid
                " id="price" class="text-danger form-text">
                <small *ngIf="editPetForm.controls['price'].errors?.['required']">
                  this field is required
                </small>
                <small *ngIf="editPetForm.controls['price'].errors?.['text']">
                  Please enter a valid Known price.
                </small>
              </div>
            </div>
               <!--_________________ category___________________-->

               <div class="formbold-mb-3">
                <label for="category" class="formbold-form-label">
                  Pet category
                </label>
                <select class="formbold-form-input form-control" id="occupation" formControlName="category">
                  <option value="Dogs">Dogs</option>
                  <option value="Cats">Cats</option>
                  <option value="Birds">Birds</option>
                  <option value="Animal For Breeding">Animal For Breeding</option>
                </select>
                <div *ngIf="
                    editPetForm.controls['category'].touched &&
                    editPetForm.controls['category'].invalid
                  " id="category" class="text-danger form-text">
                  <small *ngIf="editPetForm.controls['category'].errors?.['required']">
                    this field is required
                  </small>
                  <small *ngIf="editPetForm.controls['category'].errors?.['text']">
                    Please enter a valid Known category.
                  </small>
                </div>
              </div>
<!--_________________ gender___________________-->
            <div class="formbold-mb-3">
              <label class="formbold-form-label">Pet Gender</label>

              <select class="formbold-form-input form-control" name="gender" id="occupation"
                formControlName="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
              <div *ngIf="
                  editPetForm.controls['gender'].touched &&
                  editPetForm.controls['gender'].invalid
                " id="PetAge" class="text-danger form-text">
                <small *ngIf="editPetForm.controls['gender'].errors?.['required']">
                  this field is required
                </small>
                <small *ngIf="editPetForm.controls['gender'].errors?.['email']">
                  Please choose a valid Gender from above.
                </small>
              </div>
            </div>
<!-- _________________________opeeration _______________ -->

<div class="formbold-mb-3">
<label class="formbold-form-label">Pet operation</label>

<select class="formbold-form-input form-control" name="operation" id="occupation"
  formControlName="operation">
  <option value="sell">sell </option>
  <option value="adopt">adopt</option>
</select>
<div *ngIf="
    editPetForm.controls['operation'].touched &&
    editPetForm.controls['operation'].invalid
  " id="PetAge" class="text-danger form-text">
  <small *ngIf="editPetForm.controls['operation'].errors?.['required']">
    this field is required
  </small>
  <small *ngIf="editPetForm.controls['operation'].errors?.['email']">
    Please choose a valid Gender from above.
  </small>
</div>
</div>
<!-- _________________________image_______________ -->

<div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
<input id="upload" type="file" (change)="get_imagPet($event)" formControlName="image" name="image" class="form-control border-0" />
<label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
<div class="input-group-append">
  <label for="upload" class="btn btn-light m-0 rounded-pill px-4">
    <i class="fa fa-cloud-upload mr-2 text-muted"></i>
    <small class="text-uppercase font-weight-bold text-muted">Choose file</small>
  </label>
</div>
</div>
            <!-- Uploaded image -->
            <p class="font-italic text-dark text-center">
              The image uploaded will be rendered inside the box below.
            </p>
            <div class="image-area mt-4">
              <img id="imageResult" src="{{ base64 }}" alt=""
                class="img-fluid rounded shadow-sm mx-auto d-block" />
            </div>

            <div class="formbold-checkbox-wrapper mt-2">
              <label for="supportCheckbox" class="formbold-checkbox-label">
                <div class="formbold-relative">
                  <input type="checkbox" id="supportCheckbox" class="formbold-input-checkbox" />
                  <div class="formbold-checkbox-inner">
                    <span class="formbold-opacity-0">
                      <svg width="11" height="8" viewBox="0 0 11 8" class="formbold-stroke-current" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M8.81868 0.688604L4.16688 5.4878L2.05598 3.29507C1.70417 2.92271 1.1569 2.96409 0.805082 3.29507C0.453266 3.66742 0.492357 4.24663 0.805082 4.61898L3.30689 7.18407C3.54143 7.43231 3.85416 7.55642 4.16688 7.55642C4.47961 7.55642 4.79233 7.43231 5.02688 7.18407L10.0696 2.05389C10.4214 1.68154 10.4214 1.10233 10.0696 0.729976C9.71776 0.357624 9.17049 0.357625 8.81868 0.688604Z"
                          fill="white" />
                      </svg>
                    </span>
                  </div>
                </div>
                I agree to the defined
                <a href="#"> terms, conditions, and policies</a>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Close
      </button>
      <button type="button" class="btn btn-primary" [disabled]="editPetForm.invalid" data-bs-dismiss="modal"
        (click)="onUpdate()">
        Save changes
      </button>
    </div>
  </div>
</div>
</div>


