<aside>
    <h4> Dashboard </h4>
    <a routerLink="/admin/tusers">
      <i class="fa fa-user-o" aria-hidden="true"></i>
     Users
    </a>
    <a routerLink="/admin/tpets">
      <i class="fa fa-laptop" aria-hidden="true"></i>
     Pets
    </a>
    <a routerLink="/admin/tsupply">
      <i class="fa fa-laptop" aria-hidden="true"></i>
     Supply
    </a>
    <a >
      <i class="fa fa-star-o" aria-hidden="true"></i>
  veternaries
    </a>
    <a routerLink="/admin/torders">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
     Orders
    </a>
    <a >
        <i class="fa fa-trash-o" aria-hidden="true"></i>
       Appointments
      </a>
  </aside>
  
  <!-- <div class="social">
    <a href="https://www.linkedin.com/in/florin-cornea-b5118057/" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </div> -->