
<h3 style="text-align: center;">Registeration User Form</h3>
<hr />

<form [formGroup]="regiseruser" (ngSubmit)="submitForm()">
  <div class="mb-3">
    <label for="name_control" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="name_control"
      aria-describedby="name_help"
      formControlName="Name"
    />
    <div
      *ngIf="
      regiseruser.controls['Name'].touched &&
      regiseruser.controls['Name'].invalid
      "
      id="name_help"
      class="text-danger form-text"
    >
      <small *ngIf="regiseruser.controls['Name'].errors?.['required']">
        this field is required
      </small>
      <small *ngIf="regiseruser.controls['Name'].errors?.['minlength']">
        Min. length is 2
      </small>
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label"
      >email</label
    >
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="description_help"
      rows="5"
      formControlName="email"
    >
    <div
      *ngIf="
      regiseruser.controls['email'].touched &&
      regiseruser.controls['email'].invalid
      "
      id="email"
      class="text-danger form-text"
    >
      <small *ngIf="regiseruser.controls['email'].errors?.['required']">
        this field is required
      </small>
      <small *ngIf="regiseruser.controls['email'].errors?.['email']">
        Please enter a valid email format.
      </small>
      
    </div>
  </div>
  
  
  <div class="mb-3">
    <label for="password" class="form-label">password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      aria-describedby="password"
      formControlName="password"
    />
    <div
      *ngIf="
      regiseruser.controls['password'].touched &&
      regiseruser.controls['password'].invalid
      "
      id="password"
      class="text-danger form-text"
    >
      <small *ngIf="regiseruser.controls['password'].errors?.['required']">
        this field is required
      </small>
      <small *ngIf="regiseruser.controls['password'].errors?.['minlength']">
        password must be more than 8 character

      </small>
      
    </div>
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <input
      type="text"
      class="form-control"
      id="phone"
      aria-describedby="phone"
      formControlName="phone"
    />
    <div
      *ngIf="
        regiseruser.controls['phone'].touched &&
        regiseruser.controls['phone'].invalid
      "
      id="phone"
      class="text-danger form-text"
    >
      <small *ngIf="regiseruser.controls['phone'].errors?.['required']">
        Phone number is required
      </small>
      <small *ngIf="regiseruser.controls['phone'].errors?.['minlength']">
        Phone number should be at least 11 digits long
      </small>
      <small *ngIf="regiseruser.controls['phone'].errors?.['pattern']">
        Phone number should start with '0' and be 11 digits long
      </small>
    </div>
  </div>
  
  <button type="submit" class="btn btn-success" [disabled]="regiseruser.invalid">
    Register
  </button>
  <p>Already have an account!<a href="login">login</a></p>
</form>



