<div class="row justify-content-center mb-3">
  <div class="col-md-12 col-xl-10">
    <div class="card shadow-0 border rounded-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
            <div class="bg-image hover-zoom ripple rounded ripple-surface">
              <img src="{{ seller.pet_pic }}" class="w-100" height="200px" width="200px" />
              <a href="#!">
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(253, 253, 253, 0.15)"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6">
            <h5>{{ seller.Seller }}</h5>
            <div class="d-flex flex-row">
              <div class="text-danger mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <span>310</span>
            </div>
            <div class="mt-1 mb-0 text-muted small">
              <span>{{ seller.pet_gender }}</span>
              <span class="text-primary"> • </span>
              <span>German</span>
              <span class="text-primary"> • </span>
              <span>3M<br /></span>
            </div>
            <p class="text-truncate mb-4 mb-md-0">{{ seller.pet_type }}</p>
          </div>
          <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
            <div class="d-flex flex-row align-items-center mb-1">
              <h4 class="mb-1 me-1">$20</h4>
            </div>
            <h6 class="text-success">Free shipping</h6>
            <div class="d-flex flex-column mt-4">
              <button class="btn btn-success btn-sm" type="button">
                Go to cart
                <i class="pi pi-cart-plus" style="font-size: 0.8rem"></i>
              </button>
              <button class="btn btn-outline-success btn-sm mt-2" type="button">
                Adopt
                <i class="fa fa-paw"></i>
              </button>
              <button class="btn btn-outline-warning btn-sm mt-2" type="button">
                Add to wishlist
                <i class="pi pi-star" style="font-size: 0.8rem"></i>
              </button>
              <button type="button" class="btn btn-primary" (click)="openEditSellerModal(seller)" data-bs-toggle="modal"
                data-bs-target="#editSellerModal">
                Edit product
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Seller Modal -->
<div class="container-fluid">
  <div class="modal " #editSellerModal tabindex="-1" aria-labelledby="editSellerModalLabel" aria-hidden="true"
    >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editSellerModalLabel">Edit Seller Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
        (click)="closeEditSellerModal()"
        aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Form to edit seller data -->
        <form [formGroup]="editSellerForm" >
          <div class="mb-3">
            <label for="sellerName" class="form-label">Seller Name</label>
            <input type="text" class="form-control" id="sellerName" formControlName="sellerName">
          </div>
          <div class="mb-3">
            <label for="petType" class="form-label">Pet Type</label>
            <input type="text" class="form-control" id="petType" formControlName="petType">
          </div>
          <div class="mb-3">
            <label for="petGender" class="form-label">Pet Gender</label>
            <input type="text" class="form-control" id="petGender" formControlName="petGender">
          </div>
          <div class="mb-3">
            <label for="petPic" class="form-label">Pet Picture URL</label>
            <input type="file" class="form-control" id="petPic" formControlName="petPic">
            <img src="" alt=""formControlName="imge">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!editSellerForm.valid">Save changes</button>

      </div>
    </div>
  </div>
</div >