

 
      <!-- Sidebar -->
      
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file"></span>
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                Products
              </a>
            </li>
            <li>
                <a href="#" class="nav-link px-2 anav_white" routerLinkActive="background rounded text-dark"routerLink="/products">Pets </a>
              </li>
              
                <li>
                  <a  class="nav-link px-2 anav_white"   routerLink="/userd">Dashboard</a>
                </li>          </ul>
        

