<header class="p-1 text-white">
  <div class="container-fluid">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a href="/" class="text-decoration-none">
        <img
          src="/assets/logof.png"
          class="me-5"
          style="width: 220px; height: 60px"
        />
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto pt-2 justify-content-center mb-md-0"
      >
        <!-- Your navigation items here -->
      </ul>

      <div class="text-end">
        <div *ngIf="userLogin; else loginButtons">
          <div class="dropdown text-end">
            <a
              href="#"
              class="d-block link-body-emphasis text-white text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa fa-user-circle fa-lg text-white fs-3"></i>
            </a>
            <ul class="dropdown-menu text-small">
              <li *ngIf="userData.role == 'client' || userData.role == 'owner'">
                <a
                  class="dropdown-item"
                  [routerLink]="
                    userData.role == 'client' ? 'user-account' : 'user-vet'
                  "
                  >{{ userData.name }}</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" (click)="logout()" href="#"
                  >Sign out</a
                >
              </li>
            </ul>
          </div>
        </div>
        <ng-template #loginButtons>
          <button
            type="button"
            class="btn btn-outline-light me-2"
            routerLinkActive="background rounded text-dark"
            routerLink="login"
          >
            Login
          </button>
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-outline-light rounded"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Sign-up
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="register"
                >Sign up as a client</a
              >
              <a class="dropdown-item" routerLink="register-clinic"
                >Sign up as a clinic</a
              >
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</header>
