
<header class="p-3 text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap"></use>
        </svg>
        <h2>Meshmesh</h2>
      </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a href="#" class="nav-link px-2 anav_white" routerLinkActive="text-dark" routerLink="" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
<li>
  
</li>
          <li>
            <a href="#" class="nav-link px-2 anav_white" routerLinkActive="text-dark"routerLink="/products">pets </a>
          </li>
          
            <li>
              <a href="#" class="nav-link px-2 anav_white"routerLink="/supplies">suplies</a>
            </li>
           
          <li>
            <a href="#" class="nav-link px-2 anav_white"routerLink="/show_Vets" >vetirnary center</a>
          </li>
          <li>
            <!-- <a href="#" class="nav-link px-2 anav_white"routerLink="/admin" >Dashboard</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">
              <i class="fa fa-shopping-cart anav_white fs-2"routerLinkActive="text-dark" routerLink="/cart"></i>
              <span class="badge badge-danger">{{count}}</span>
            </a>
          </li>
        </ul>

     

        <div class="text-end">
          <div *ngIf="userLogin; else loginButtons">
            <div class="dropdown text-end">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
             
                <li><a class="dropdown-item" routerLink="user-account">{{ userData.name }}
                </a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item"(click)="logout()" href="#">Sign out</a></li>
              </ul>
            </div>
                        <!-- <button type="button" class="btn btn-outline-light" routerLink="choose_form" routerLinkActive="bg-dark text-white">Sign-up</button> -->

          </div>
          <ng-template #loginButtons>
           
            <button type="button" class="btn btn-outline-light me-2" routerLinkActive="bg-dark text-white" routerLink="login">Login</button>
             
        <!-- <button type="button" class="btn btn-outline-light" routerLink="choose_form" routerLinkActive="bg-dark text-white">Sign-up</button> -->

            
            <div class="btn-group">
              <button type="button" class="btn btn-outline-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sign-up
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="register">Sign up as a client</a>
                <a class="dropdown-item" routerLink="register-clinic">Sign up as a clinic</a>
              </div>
            </div>
         
          </ng-template>
          
        </div>
      </div>
    </div>

    
  </header>


 
