<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="width: 1550px;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active ">
    
      <div class="d-flex flex-row-reverse bd-highlight">

<img src="/assets/sad_cat&dog.png" style="width: 650px; height: 350px;" class="img-responsive">
      </div>
      
      <div class="container">
        <div class="carousel-caption text-start text-black">
          <h1 style="color: rgb(207, 100, 136);">Never let your pet</h1>
          <p>Here in meshmesh you can Buy , Sell  or offer your pet for adoption .</p>
          <p><a class="btn btn-lg btn-primary" href="#"   routerLink="/register" >Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex flex-row bd-highlight">

        <img src="/assets/veterinarian-clinic.png" style="width: 700px; height: 400px;" class="img-responsive">
                </div>
      <div class="container">
        <div class="carousel-caption text-end text-black">
          <h1 style="color: rgb(207, 100, 136);">your pet health</h1>
          <p>we can also offer for you appoiment with veterinarian clinics </p>
          <p><a class="btn btn-lg btn-primary" href="#">Book Now</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/toys2.png"  style="width: 1200px; height: 600px;" >
      <div class="container">
        <div class="carousel-caption ">
          <h1 class="font-weight-bold text-black">Food & Suplies</h1>
          <p><a class="btn btn-lg btn-danger" href="#">Coming Soon</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>