<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="row product-list pt-5">
                <div class="col-md-4 mb-4" *ngFor="let pet of dogs | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                    <section class="card mx-auto"> <!-- Added mx-auto class to center the card -->
                        <div class="pro-img-box">
                            <img [src]="generateImageUrl(pet.image)" style="padding: 20px;" alt="pet" />
                            <!-- <a href="#" class="adtocart">
                                <i class="fa fa-shopping-cart"></i>
                            </a> -->
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title">
                                <a href="#" class="pro-title ">type:{{ pet.type }}</a>
                            </h4>
                            <h6 class="card-text " >Gender: {{ pet.gender }}</h6>
                            <h6 class="card-text " >Price: {{ pet.price }}</h6>
                            <h6 class="card-text " >Owner: {{ pet.user.name }}</h6>
                            <h6 class="card-text " >Age: {{ pet.age }}</h6>
                            <a href="#" class="text-reset">
                                <p class="card-text ">Category: {{ pet.category }}</p>
                            </a>
                            <p class="card-text " >Operation: {{ pet.operation }}</p>
                        </div>
                        
                        
                    </section>
                </div>
            </div>
            <div class="text-center" *ngIf="pets.length">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
