






<div class="container-fluid">
  <div class="row g-4 ps-md-4 pe-md-4">
    <div class="col-md-6 col-sm-12">
      <label
        for="user"
        class="createLabel border rounded p-3 text-white text-center client position-relative w-100"
        [ngClass]="{'active': accountType === 'user'}"
      >
        <h4 class="text-left pe-xl-5" style="color: black;">I'm a client </h4>
        <input
          style="top: 15px; right: 15px; width: 20px; height: 20px"
          class="position-absolute"
          type="radio"
          name="accountType"
          id="user"
          value="user"
          [(ngModel)]="accountType"
          (change)="updateLabelState('user')"
        />
      </label>
    </div>
    <div class="col-md-6 col-sm-12">
      <label
        for="clinc"
        class="createLabel border rounded p-3 text-white veternary position-relative w-100"
        [ngClass]="{'active': accountType === 'clinc'}"
      >
        <h4 class="text-left text-center pe-xl-5" style="color: black;">I'm an owner veterinary center</h4>
        <input
          style="top: 15px; right: 15px; width: 20px; height: 20px"
          class="position-absolute"
          type="radio"
          name="accountType"
          id="clinc"
          value="clinc"
          [(ngModel)]="accountType"
          (change)="updateLabelState('clinc')"
        />
      </label>
    </div>
  </div>


  <app-register-clinic *ngIf="accountType == 'clinc'"></app-register-clinic>
  <app-register *ngIf="accountType == 'user'"></app-register>
  </div>