.position-absolute:hover{
    background-color: #da6274;
}


.container-fluid {
    background-image: url('/assets/bg.jpeg');
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    
    background-repeat: repeat-y;

  }
  .veternary,.client{
    background-color: #30748c;
  }