form{
    background-color: #f5e1dc;
    padding: 20px;
    border-radius: 10px solid  #da6274;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
/* #f5e1dc */
/* #da6274 */

