<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container-fluid">
<div class="container bootdey">
<div class="row gutters">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
<div class="card">
<div class="card-body">
<div class="timeline">
	<div class="timeline-row">
	
		<div class="timeline-dot fb-bg"></div>
		<div class="timeline-content">
			<i class="fa fa-map-marker"></i>
			<h4>Admin theme!</h4>
			<p>Milestone Admin Dashboard contains C3 graphs, flot graphs, data tables, calendar, drag &amp; drop and ion slider.</p>
			<div class="">
				<span class="badge badge-light">Design</span>
				<span class="badge badge-light">Admin</span>
			</div>
		</div>
	</div>
	<div class="timeline-row">
		
		<div class="timeline-dot green-one-bg"></div>
		<div class="timeline-content green-one">
			<i class="fa fa-warning"></i>
			<h4>Admin theme!</h4>
			<p>
				Milestone Admin Dashboard contains C3 graphs, flot graphs, data tables, calendar.
			</p>
			<div class="">
				<span class="badge badge-light">Design</span>
				<span class="badge badge-light">Admin</span>
			</div>
		</div>
	</div>
	<div class="timeline-row">
		
		<div class="timeline-dot green-two-bg"></div>
		<div class="timeline-content green-two">
			<i class="fa fa-list"></i>
			<h4>Best Admin Template!</h4>
			<p>Custom C3 graphs, Custom flot graphs, flot graphs, small graphs, Sass, profile and timeline.</p>
			<div>
				<span class="badge badge-light">Invoice</span>
				<span class="badge badge-light">Graphs</span>
			</div>
		</div>
	</div>
	<div class="timeline-row">
		
		<div class="timeline-dot green-three-bg"></div>
		<div class="timeline-content green-three">
			<i class="icon-directions"></i>
			<h4>Milestone Admin</h4>
			<p>
				Admin theme includes graphs, invoice, timeline, widgets, projects, calendar, components, layouts, todo's.
			</p>
			<div>
				<span class="badge badge-light">Profile</span>
				<span class="badge badge-light">Dashboard</span>
			</div>
		</div>
	</div>
	<div class="timeline-row">
		
		<div class="timeline-dot green-four-bg"></div>
		<div class="timeline-content green-four">
			<i class="fa fa-user"></i>
			<h4>Milestone Dashboard</h4>
			<p class="no-margin">Milestone Admin Dashboard includes invoice, profile, tasks, gallery, projects, maintanence.</p>
			<div>
				<span class="badge badge-light">Analytics</span>
				<span class="badge badge-light">Graphs</span>
			</div>
		</div>
	</div>
	<div class="timeline-row">
		
		<div class="timeline-dot teal-bg"></div>
		<div class="timeline-content teal">
			<i class="fa fa-coffee"></i>
			<h4>Milestone Template</h4>
			<p class="no-margin">Panels, alerts, notifications, new input styles, pricing plans, project plan, signup, login and register.</p>
			<div>
				<span class="badge badge-light">Labels</span>
				<span class="badge badge-light">Filters</span>
			</div>
		</div>
	</div>
	<div class="timeline-row">
		
		<div class="timeline-dot sea-green-bg"></div>
		<div class="timeline-content sea-green">
			<i class="fa fa-image"></i>
			<h4>Milestone dashboard</h4>
			<p>Milestone Admin Dashboard contains Ion slider, heatmap, alerts, breadcrumbs, alerts, pricing, signup, login and register.</p>
			<div>
				<span class="badge badge-light">BS 4</span>
				<span class="badge badge-light">Sass</span>
			</div>
		</div>
	</div>
</div>

</div>
</div>
</div>
</div>
</div>
</div> -->
<div class="container-fluid py-5">
	<div class="row py-5">
		<div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
			<h1 class="display-4 mb-4"><span class="text-primary">Boarding</span> & <span class="text-secondary">Daycare</span></h1>
			<h5 class="text-muted mb-3">Amet stet amet ut. Sit no vero vero no dolor. Sed erat ut sea. Just clita ut stet kasd at diam sit erat vero sit.</h5>
			<p class="mb-4">Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd ut. Erat duo eos et erat sed diam duo</p>
			<ul class="list-inline">
				<li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Best In Industry</h5></li>
				<li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Emergency Services</h5></li>
				<li><h5><i class="fa fa-check-double text-secondary mr-3"></i>24/7 Customer Support</h5></li>
			</ul>
		</div>
		<div class="col-lg-5">
			<div class="row px-3">
				<div class="col-12 p-0">
					<img class="img-fluid w-100" src="/assets/man-run-with-dogs.png" alt="">
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
<ul>
    <li style="--accent-color:#41516C">
        <div class="date">Sell</div>
        <div class="title">Title 1</div>
        <div class="descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</div>
    </li>
    <li style="--accent-color:#FBCA3E">
        <div class="date">Buy</div>
        <div class="title">Title 2</div>
        <div class="descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos adipisci nobis nostrum vero nihil veniam.</div>
    </li>
    <li style="--accent-color:#E24A68">
        <div class="date">Adopt</div>
        <div class="title">Title 3</div>
        <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minima consequuntur soluta placeat iure totam commodi repellendus ea delectus, libero fugit quod reprehenderit, sequi quo, et dolorum saepe nulla hic.</div>
    </li>
    <li style="--accent-color:#1B5F8C">
        <div class="date">Supplies</div>
        <div class="title">Title 4</div>
        <div class="descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, cumque.</div>
    </li>
    <li style="--accent-color:#4CADAD">
        <div class="date">Veterinaries</div>
        <div class="title">Title 5</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.</div>
    </li>
	<li style="--accent-color:#4CADAD">
        <div class="date">Book appointment</div>
        <div class="title">Title 5</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.</div>
    </li>
</ul>
</div>
<div class="container-fluid">
	<section>
		<section class="team-page-section">
			<div class="container ">
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Our Team</div>
					<div class="separator"><span></span></div>
					<h2>Lorem Ipsum dummy text</h2>
				</div>
	
				<div class="row clearfix align-items-center justify-content-center">
	
					<!-- Team Block -->
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<ul class="social-icons">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-skype"></i></a></li>
	
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
							<div class="image">
								<a href="#"><img src="./assets/stand_hamster.png" style="height: 200px; width: 150px; " alt="" /></a>
							</div>
							<div class="lower-content">
								<h3><a href="#">Lorem Ipsum </a></h3>
								<div class="designation">Simply dummy text </div>
							</div>
						</div>
					</div>
					<!-- Team Block -->
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<ul class="social-icons">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-skype"></i></a></li>
	
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
							<div class="image">
								<a href="#"><img src="./assets/stand_hamster.png" style="height: 200px; width: 150px; " alt="" /></a>
							</div>
							<div class="lower-content">
								<h3><a href="#">Lorem Ipsum </a></h3>
								<div class="designation">Simply dummy text </div>
							</div>
						</div>
					</div>
					<!-- Team Block -->
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<ul class="social-icons">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-skype"></i></a></li>
	
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
							<div class="image">
								<a href="#"><img src="./assets/stand_hamster.png" style="height: 200px; width: 150px; " alt="" /></a>
							</div>
							<div class="lower-content">
								<h3><a href="#">Lorem Ipsum </a></h3>
								<div class="designation">Simply dummy text </div>
							</div>
						</div>
					</div>
					<!-- Team Block -->
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<ul class="social-icons">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-skype"></i></a></li>
	
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
							<div class="image">
								<a href="#"><img src="./assets/stand_hamster.png" style="height: 200px; width: 150px; " alt="" /></a>
							</div>
							<div class="lower-content">
								<h3><a href="#">Lorem Ipsum </a></h3>
								<div class="designation">Simply dummy text </div>
							</div>
						</div>
					</div>
					
					<!-- Team Block -->
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<ul class="social-icons">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-skype"></i></a></li>
	
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
							<div class="image">
								<a href="#"><img src="./assets/stand_hamster.png" style="height: 200px; width: 150px; " alt="" /></a>
							</div>
							<div class="lower-content">
								<h3><a href="#">Lorem Ipsum </a></h3>
								<div class="designation">Simply dummy text </div>
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</section>
	</section>
</div>